body{
    margin:0;
    background:rgb(120, 104, 148);
}
header {
    background: rgb(187, 215, 247);
    color: rgb(73, 73, 73);
    padding:5px 0px 3px 45px;

}

header h1{
    border-radius:100px;
    background: rgb(235, 187, 206);
    margin:0;
    display: inline;
    padding: 0px 50px;
}


.row:after{
    clear:both;
    content:" ";
    display:table;
}

.col{
    background:white;
    border-radius: 5px;
    color: grey;
    padding: 10px .5%;
    float: left;
    margin: 2%;
    width:28%;
}