body{
    margin:0;
    background:rgb(178, 250, 255);
    font-family: monospace;
}
header {
    background: rgb(179, 255, 196);
    color: rgb(255, 78, 152);
    padding:50px 0px 50px 0px;

}

header h1{
    border-radius:100px;
    background: rgb(255, 239, 146);
    margin:0;
    display: inline;
    padding: 10px 50px;
}
h2{
    color:rgb(255, 78, 152);
}
.row:after{
    clear:both;
    content:" ";
    display:table;
}
#picture{
    float: left;
}
#picture2{
    float: right;
}
}